<!DOCTYPE html>
<html>

<head>
    <title>Create a Drink</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="container">
        <img src="/6253f6ca.club_mate.png" width="280">
        <h1>CLOB-MATE!</h1>
        <h2>Create a drink</h2>
        <form action="/drinks" method="post">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="flavor">Flavor:</label><br>
            <input type="text" id="flavor" name="flavor"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br>
            <input type="submit" value="Create">
        </form>
        <div>
            <a href="/admin">Admin</a>
        </div>
    </div>
</body>

</html>