<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KebabCraft - Visa</title>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/text.js')}}"
    ></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/purify.min.js')}}"
    ></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/styles.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card kebab-card" id="container">
        <h1 id="title" class="i-dont-want-to-touch-the-wall-please"></h1>
        <p
          id="content"
          class="i-dont-want-to-touch-the-wall-please margin-bottom-is-also-needed"
        ></p>
        <img class="kebab-image" id="image" src="/" alt="Kebab" />
      </div>
      <div
        class="card i-want-this-card-to-be-a-bit-bigger-please margin-on-the-top"
      >
        <div
          class="flex-thing space-around-the-flex margin-on-the-top margin-on-the-top"
        >
          <button onclick="window.location = '/theme'">Ändra tema</button>
          <button id="bot">
            Låt en certifierad kebabtekniker smaka på din kebab
          </button>
        </div>
        <p id="bot-result" class="margin-on-the-top"></p>
      </div>
    </div>
    <script>
      const searchParams = new URLSearchParams(window.location.search);
      const title = searchParams.get("title");
      const content = searchParams.get("content");
      const image = searchParams.get("image");
      const textTheme = searchParams.get("text").split(",");

      document.getElementById("content").innerHTML = DOMPurify.sanitize(
        styleText(textTheme[0], content)
      );

      // It's only 30 chars, what could possibly go wrong?
      document.getElementById("title").innerHTML = styleText(
        textTheme[1],
        title.length < 30 ? title : title.slice(0, 30) + "..."
      );

      document.getElementById("image").src =
        "/static/images/" + image.replace("/", "");

      fetch("/api/theme")
        .then((res) => res.json())
        .then((json) => {
          if (document.cookie) {
            alert("Du har en skum kaka :(");
            return;
          }
          const style = document.createElement("style");
          style.innerText = json.css;
          document.head.appendChild(style);
        });

      document.getElementById("bot").addEventListener("click", (e) => {
        e.preventDefault();

        fetch(
          "/api/bot?kebab=" +
            encodeURIComponent(window.location.search.substring(1))
        )
          .then((res) => res.json())
          .then((res) => {
            document.getElementById("bot-result").innerText = res.msg;
          });
      });
    </script>
  </body>
</html>
